header {
    background-color: #29132e;
    width: 100%;
    overflow: hidden;
}
.nav__button {
    cursor: pointer;
}
.header__container {
    width: 1440px;
    height: 64px;
    display: flex;
}
.first__block-header {
    width: 80px;
    height: 40px;
    margin: 0 0;
    padding: 12px 0px 0px 20px;
    &_dark {
        justify-content: center;
        align-items: center;
        display: flex;
        color: #ff00a0;
        text-shadow: 1px 1px 10px #ff00a0;
    }
    &_light {
        justify-content: center;
        align-items: center;
        display: flex;
        color: white;
        background-color: #7a04eb;
        box-shadow: 1px 1px 7px #7a04eb;
    }
}
.second__block-header {
    display: flex;
    margin: 0 0;
    padding: 21px 0px 0px 152px;
    font-size: 15px;
    gap: 20px;
    &_about, &_best, &_settings {
        color: #ff00a0;
        font-weight: 900;
        text-shadow: 1px 1px 10px #ff00a0;
    }
}
.second__block-header_settings {
    animation: circle 2s infinite forwards;
}

@keyframes circle {
    0% {
        opacity: 1;
    }
    9% {
        opacity: 1;
    }
    10% {
        opacity: 0;
    }
    13% {
        opacity: 1;
    }
    30% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    79% {
        opacity: 1;
    }
    80% {
        opacity: 0;
    }
    81% {
        opacity: 1;
    }
    99% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.slice_1, .slice_2, .slice_3, .slice_4 {
    position: relative;
    width: 5px;
    height: 100px;
    background-color: #7a04eb;
    margin: 0 0;
    transform: rotate(10deg);
    box-shadow: 1px 1px 7px #7a04eb;
    animation: splits 10s infinite forwards;
}
.slice_1 {
    right: 199px;
    bottom: 34px;
}
.slice_2 {
    right: 111px;
    bottom: 34px;
}
.slice_3 {
    right: -1px;
    bottom: 34px;
}
.slice_4 {
    right: 318px;
    bottom: 34px;
}
.third__block-header_text {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 207px;
    height: 36px;
    background-color: #7a04eb;
    box-shadow: 1px 1px 7px #7a04eb;
    color: white;
}
.fourth__block-header {
    position: relative;
    left: -225px;
    gap: 5px;
    display: flex;
}
.fourth__block-header__button {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 157px;
    height: 36px;
    background-color: #7a04eb;
    box-shadow: 1px 1px 7px #7a04eb;
    color: white;
}
.fourth__block-header__iamge {
    position: relative;
    left: 20px;
    margin-top: 10px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #7a04eb;
    box-shadow: 1px 1px 7px #7a04eb;
}
.fifth__block-header {
    position: relative;
    right: 220px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 157px;
    height: 36px;
    background-color: #7a04eb;
    box-shadow: 1px 1px 7px #7a04eb;
    color: white;
}
.header__upload_img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: none;
}
.header__upload_img-visible {
    display: block;
}
.inactive__header {
    display: none;
}
.log__out {
    opacity: 0;
    pointer-events: none;
}