
.login {
    display: none;
    position: relative;
    width: 100%;
    height: 1026px;
    z-index: 100;
    bottom: 1026px;
    overflow: hidden;
    &__container {
        width: 1440px;
        height: 1224px;
        &_main {
            position: relative;
            margin-left: 250px;
            margin-top: 250px;
            width: 640px;
            height: 460px;
            background-color: #37193d;
            z-index: 100;
            opacity: 1 !important;
            &__header {
                height: 67px;
                width: 100%;
                background-color: #29132e;
                color: #ff00a0;
                text-shadow: 1px 1px 10px #ff00a0;
                display: flex;
                justify-content: center;
                align-items: center;
                justify-content: center;
                font-size: 25px;
            }
        }
    }
}
.login::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 1200px;
    opacity: 0.5;
    z-index: 99;
    background-color: #575267;
}
.whole__side {
    display: flex;
    width: 100%;
    height: 85%;

}
.first__segment_login {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    &__name {
        margin-top: 35px;
        &_2 {
            width: 200px;
            height: 24px;
            background-color: #7a04eb;
            box-shadow: 1px 1px 7px #7a04eb;
            border: none;
            outline: none;
            font-size: 15px;
            color: white;
            text-shadow: 1px 1px 10px white;
            border-bottom: 1px solid white;
        }
        &_3 {
            position: relative;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: #ff00a0;
            box-shadow: 1px 1px 7px #ff00a0;
            margin: 0 0;
            left: 265px;
            bottom: 30px;
        }
    }
    &__password {
        &_2 {
            width: 200px;
            height: 24px;
            background-color: #7a04eb;
            box-shadow: 1px 1px 7px #7a04eb;
            border: none;
            outline: none;
            font-size: 15px;
            color: white;
            text-shadow: 1px 1px 10px white;
            border-bottom: 1px solid white;
        }
        &_3 {
            position: relative;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: #ff00a0;
            box-shadow: 1px 1px 7px #ff00a0;
            margin: 0 0;
            left: 265px;
            bottom: 30px;
        }
    }
    &__email {
        &_2 {
            width: 200px;
            height: 24px;
            background-color: #7a04eb;
            box-shadow: 1px 1px 7px #7a04eb;
            border: none;
            outline: none;
            font-size: 15px;
            color: white;
            text-shadow: 1px 1px 10px white;
            border-bottom: 1px solid white;
        }
        &_3 {
            position: relative;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: #ff00a0;
            box-shadow: 1px 1px 7px #ff00a0;
            margin: 0 0;
            left: 265px;
            bottom: 30px;
        }
    }
    &__name, &__password, &__email {
        width: 95%;
        height: 56px;
        background-color: #7a04eb;
        box-shadow: 1px 1px 7px #7a04eb;
        color: #ff00a0;
        text-shadow: 1px 1px 10px #ff00a0;
    }
}

.login__submit {
    position: relative;
    left: 315px;
    top: 90px;
    &_input {
        display: none;
    }
    &_label {
        padding: 2px 10px;
        position: relative;
        width: 150px;
        min-height: 50px;
        background-color: #7a04eb;
        box-shadow: 1px 1px 7px #7a04eb;
        color: white;
        text-shadow: 1px 1px 10px white;
    }
    &_cancel {
        position: relative;
        bottom: 20px;
        left: 100px;
        color: #ff00a0;
        text-shadow: 1px 1px 10px #ff00a0;
    }
}
.second__segment_login {
    width: 50%;
    height: 100%;
    &__circle {
        margin-top: 55px;
        margin-right: 40px;
        width: 170px;
        height: 170px;
        background-color: #f887ff;
        box-shadow: 1px 1px 7px #f887ff;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        &_line1 {
            position: relative;
            left: 45px;
            width: 15px;
            height: 120px;
            background-color: #431e4b;
            box-shadow: 1px 1px 7px #431e4b;
        }
        &_line2 {
            position: relative;
            left: -40px;
            width: 15px;
            height: 120px;
            transform: rotate(90deg);
            background-color: #431e4b;
            box-shadow: 1px 1px 7px #431e4b;
        }
    }
}

.login__active_vision {
    display: block;
}
.active_transfom__scale {
    animation: scale 0.2s infinite forwards;
}

@keyframes scale {
    0% {
        transform: rotate(90deg);
    }
    50% {
        transform: scaleX(135deg);
    }
    100% {
        transform: scaleX(90deg);
    }
}

.if__dot_active {
    background-color: #73fffe;
    box-shadow: 1px 1px 7px #73fffe;
}