.settings {
    position: relative;
    z-index: 20;
    bottom: 960px;
    width: 100%;
    background-color: #fc76cb;
    display: none;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    &__container {
        width: 1440px;
        height: 960px;
        &_block {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
            width: 1000px;
            height: 252px;
            background: radial-gradient(#7a04eb, #fc76cb);
        }
    }
}
.cards__type {
    width: 250px;
    height: 60px;
    background: radial-gradient(#ffffff, #fc76cb);
    box-shadow: 1px 1px 7px #fc76cb;
    display: flex;
    flex-direction: column;
    &_first {
        color: #7a04eb;
        text-shadow: 1px 1px 10px #7a04eb;
    }
    &_second {
        margin-top: 5px;
        margin-bottom: 12px;
        color: #000000;
        text-shadow: 1px 1px 10px #000000;
        cursor: pointer;
    }
    &_third {
        display: none;
        width: 100%;
        height: 100%;
    }
}
.cards__type_1, .cards__type_2, .cards__type_3 {
    transition: 1s;
    text-align: center;
    margin-top: 5px;
    width: 250px;
    height: 20px;
    background: radial-gradient(#ffffff, #fc76cb);
    box-shadow: 1px 1px 7px #fc76cb;
    color: #000000;
    text-shadow: 1px 1px 10px #000000;
    cursor: pointer;
}
.cards__difficulty {
    width: 250px;
    height: 60px;
    background: radial-gradient(#ffffff, #fc76cb);
    box-shadow: 1px 1px 7px #fc76cb;
    display: flex;
    flex-direction: column;
    &_first {
        color: #7a04eb;
        text-shadow: 1px 1px 10px #7a04eb;
    }
    &_second {
        margin-top: 5px;
        margin-bottom: 12px;
        color: #000000;
        text-shadow: 1px 1px 10px #000000;
        cursor: pointer;
    }
    &_third {
        display: none;
        width: 100%;
        height: 100%;
    }
}
.cards__difficulty_1, .cards__difficulty_2, .cards__difficulty_3 {
    text-align: center;
    margin-top: 5px;
    width: 250px;
    height: 20px;
    background: radial-gradient(#ffffff, #fc76cb);
    box-shadow: 1px 1px 7px #fc76cb;
    color: #000000;
    text-shadow: 1px 1px 10px #000000;
    cursor: pointer;
}
.if__btn_active {
    display: flex;
}

.if__settings_active {
    display: flex;
}